.home__container{
	width: 1300px;
	margin: auto;
}
.home__posts{
	margin: auto;
	display: flex;
	justify-content: center;
	margin-top: 25px;
}


.web__design{
	background-color: #0fbf0f;
	text-transform: capitalize;
}

.javascript{
	background-color: orange;
	text-transform: capitalize;
}

.css{
	background-color: #1ea2e1;
	text-transform: capitalize;
}

.jquery{
	background-color: #cb0ecb;
	text-transform: capitalize;
}

.home__row{
	display: flex;
	width: 100%;
	margin-bottom: 45px;
}

.home__mostRead, .home__featured, .home__categories{
	width: 33%;
	margin-right: 25px;
}