.home__container{
	width: 80%;
	margin: auto;
}
.home__posts{
	margin: auto;
	justify-content: center;
	margin-bottom: 55px;
	margin-top: 10px;
}

.web_design{
	background-color: #0fbf0f;
	text-transform: capitalize;
}

.javascript{
	background-color: orange;
	text-transform: capitalize;
}

.css{
	background-color: #1ea2e1;
	text-transform: capitalize;
}

.jquery{
	background-color: #cb0ecb;
	text-transform: capitalize;
}

.home__row{
	display: flex;
	width: 100%;
	margin-bottom: 45px;
}

.home__mostRead, .home__featured, .home__categories{
	width: 33%;
	margin-right: 25px;
}

.home__postHeading>h2{
	padding-left: 15px;
}

@media screen and (max-width: 900px){
	.home__container{
		width: 90%
	}

	.home__container>.home__posts{
		display: block;
	}
	.post__container{
		width: 100%;
	}

	.recentPost__container {
		width: 96%;
		/* border: 1px solid black; */
		margin: auto;
	}
	.home__recentPost .home__posts{
		display: table-cell;
	}
}