.footer{
	width: 1200px;
	margin: auto;
	/* border-top: 1px solid lightgray; */
	height: 300px;
	display: flex;
	padding-bottom: 125px;
}

.footer__logo{
	width: 45%;
	padding: 45px 10px;
}
.footer__aboutUs{
	width: 15%;
	margin-top: 30px;
}
.footer__categories{
	width: 15%;
	margin-top: 30px;
}
.footer__newsletter{
	width: 25%;
	margin-top: 30px;
}

.footer__logo .footer__logoName{
	font-size: 28px;
	/* margin-bottom: 55px; */
}

.footer__copyright{
	margin-top: 20px;
}

.footer__logo ul, .footer__aboutUs ul, .footer__categories ul, .footer__newsletter ul{
	list-style-type: none;
	margin-top: 45px;
}

.footer__logo ul li {
	float: left;
	color: rgb(138, 133, 133) !important;
	cursor: pointer;
	padding-right: 10px;
}

.footer__logo ul li:hover {
	color: #222 !important;
}

.footer__aboutUs ul li, .footer__categories ul li, .footer__newsletter ul li,
.footer__aboutUs ul li a, .footer__categories ul li a, .footer__newsletter ul li a{
	color: rgb(138, 133, 133) !important;
	padding: 5px 2px;
}

.footer__newsletter input{
	width: 100%;
	margin-top: 35px;
	font-size: 16px;
	padding: 10px 5px;
	border: 1px solid lightgray;
}

.footer__paperPlane{
	position: absolute;
    right: 0;
    margin-top: -31px;
	color: rgb(138, 133, 133) !important;
	cursor: pointer;
}

.footer__icons li{
	float: left;
}
.footer__icons li .MuiSvgIcon-root{
	color: #fff !important;
    background-color: rgb(199, 195, 195);
    margin-right: 5px;
    padding: 5px;
    font-size: 18px;
    border-radius: 3px;
	cursor: pointer;
}
.footer__icons li .MuiSvgIcon-root:hover{
	background-color: lightgray;
}

.footer__newletterInput{
	position: relative;
}