.header{
	height: 75px;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
}

.header__container{
	display: flex;
	width: 80%;
	margin: auto;
	height: 75px;	
}

.header__name{
	border-right: 1px solid lightgray;
	/* width: 15%; */
}

.header__container .header__name p{
	font-size: 2rem;
	margin: 15px 25px 15px 0px;
}

.header__navbar{
	/* width: 70%; */
}

.header__navbar ul{
	list-style-type: none;
}

.header__navbar ul li{
	float: left;
	padding: 27px 15px;
	border-right: 1px solid lightgray;
	font-weight: 600;
	cursor: pointer;
}

.header__navbar .web__design_underline{
	border-bottom: 5px solid #0fbf0f;
	padding: 27px 15px;
}

.header__navbar .web__design_underline:hover {
	color: #0fbf0f !important;
}

.header__navbar .javascript_underline{
	border-bottom: 5px solid orange;
	padding: 27px 15px;
}

.header__navbar .javascript_underline:hover {
	color: orange !important;
}

.header__navbar .css_underline{
	border-bottom: 5px solid #1ea2e1;
	padding: 27px 15px;
}

.header__navbar .css_underline:hover {
	color: #1ea2e1 !important;
}

.header__navbar .jquery_underline{
	border-bottom: 5px solid #cb0ecb;
	padding: 27px 15px;
}

.header__navbar .jquery_underline:hover {
	color: #cb0ecb !important;
}

.header__icons{
	display: flex;
	flex-direction: row;
	justify-content: end;
	/* width: 30%; */
	margin-left: auto;
}

.header__icons .MuiSvgIcon-root{
	font-size: 3rem;
    width: 15%;
    padding: 1rem;
    cursor: pointer;
}

.header__searchBar{
	position: relative;
	    width: 100%;
}	

.header__searchInput{
	width: 100%;
	background-color: #fff;
	border: none;
	/* border: 2px solid black; */
	border-radius: 3px;
	font-size: 18px;
	position: absolute;
	top: -74px;
	height: 72px;
}


.header__searchBar .MuiSvgIcon-root{
	    position: absolute;
    right: 0;
    top: -45px;
    cursor: pointer;
}


@media screen and (max-width: 900px){
	.header__container{
		width: 90%
	}
}